            /* ページ全体の設定 */
            
            body {
                margin: 0;
                position: relative;
            }
            
            .container {
                width: 71.5%;
                max-width: 1030px;
                padding: 0;
                margin: 0 auto;
            }
            
            .row {
                margin: 0;
            }
            
            p,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 0;
            }
            
            a {
                color: inherit;
            }
            
            a:hover {
                color: inherit;
                text-decoration: none;
            }
            /* ヘッダー部分 */
            
            header {
                position: absolute;
                top: 0;
                width: 100%;
                height: 90px;
            }
            
            header>.container {
                height: 100%;
            }
            
            header .row {
                height: 100%;
            }
            
            .hum-btn {
                height: 21px;
                width: 50px;
            }
            
            .hum-btn>div {
                height: 3px;
                background-color: #000000;
            }
            
            .hum-btn>div:last-child {
                margin-top: 15px;
            }
            /* トップ部分 */
            
            .top {
                height: 540px;
                background-image: url('../assets/images/top-image1.png');
                background-size: cover;
                background-position: center;
            }
            
            .t-logo {
                padding-top: 120px;
                padding-bottom: 6px;
            }
            
            .t-title {
                position: relative;
                width: 660px;
                margin: 27px auto;
                transform: translateX(-20px);
            }
            
            .t-title h2 {
                font-family: A-OTF Kakumin Pro;
                font-size: 36px;
                line-height: 1.2;
                color: #ffffff;
                background: #000000;
                margin-right: 49px;
            }
            
            .t-title-2 {
                margin: 4px 16px 0;
            }
            
            .t-title img {
                width: 156px;
                position: absolute;
                top: -35px;
                right: -80px;
                transform: rotate(28deg);
            }
            /* About "DUAL LIFE" 部分  */
            
            .about {
                text-align: center;
                border-bottom: #aaaaaa 1px solid;
            }
            
            .about h2 {
                font-size: 42px;
                line-height: 1.33;
                font-family: Alex;
                margin-top: 49px;
            }
            
            .a-title-jp {
                font-size: 12px;
                line-height: 1;
                font-family: Hiragino Sans;
                margin-top: 13px;
                margin-bottom: 46px;
            }
            
            .a-cnt {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 55px;
            }
            
            .a-cnt img {
                margin-right: 66px;
                max-width: 349px;
                width: 50%;
            }
            
            .a-title {
                margin-bottom: 31px;
            }
            
            .a-title h3 {
                font-family: A-OTF Reimin Y10 Pro;
                font-size: 30px;
                line-height: 1.6;
            }
            
            .a-text {
                text-align: left;
                padding-top: 25px;
                max-width: 500px;
                width: 50%;
            }
            
            .a-text p {
                font-size: 16px;
                line-height: 2;
                font-family: YuGothic;
            }
            /* プレプログラム部分 */
            
            .p-title {
                text-align: center;
            }
            
            .p-title h2 {
                font-size: 42px;
                line-height: 1.33;
                font-family: Alex;
                margin-top: 33px;
            }
            
            .p-title-jp {
                font-size: 12px;
                line-height: 1;
                font-family: Hiragino Sans;
                margin-top: 13px;
                margin-bottom: 40px;
            }
            
            .p-logo img {
                padding: 0;
            }
            
            .p-bg {
                background-image: url('../assets/images/pre_program.png');
                background-position: center;
                background-size: cover;
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            
            .p-bg .container {
                position: relative;
                padding: 0;
                height: 40px;
                background: #ffffff;
            }
            
            .p-bg img {
                position: absolute;
                top: -65px;
                left: -100px;
                width: 140px;
            }
            
            .p-sub-title {
                text-align: center;
                margin-bottom: 38px;
            }
            
            .p-sub-title h3 {
                line-height: 1;
                font-family: A-OTF Reimin Y10 Pro;
                font-size: 30px;
            }
            
            .p-sub-title h3:nth-child(1) {
                margin-bottom: 15px;
            }
            
            .p-status {
                height: 90px;
                background: #F0FAFF;
                display: flex;
            }
            
            .p-status>div {
                padding: 0 23px;
                margin: 12px 0;
                font-size: 28px;
                font-family: A-OTF Kakumin Pro;
            }
            
            .p-status>div:not(:last-child) {
                border-right: solid #ffffff 3px;
            }
            
            .fz-24 {
                font-size: 24px;
            }
            
            .fz-60 {
                font-size: 60px;
                font-family: Barlow;
                font-weight: bold;
            }
            
            .fz-47 {
                font-weight: bold;
                font-family: Barlow;
                font-size: 47px;
            }
            
            .fw-bold {
                font-weight: bold;
                font-family: Barlow;
            }
            /* study theme */
            
            .st-title {
                margin: 24px auto;
                display: block;
                width: 303px;
            }
            
            .s-cnt {
                display: flex;
                justify-content: space-between;
            }
            
            .s-img {
                display: flex;
                align-items: center;
                width: 48%;
                position: relative;
            }
            
            .s-img img {
                width: 100%;
            }
            
            .s-img p {
                height: 29px;
                background: #ff0000;
                padding: 0 19px;
                color: #ffffff;
                font-size: 18px;
                line-height: 29px;
                font-family: Hiragino Sans;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }
            
            .s-text {
                width: 49%;
            }
            
            .s-text h4 {
                letter-spacing: 0.04em;
                margin: 10px 0;
                font-size: 24px;
                line-height: 1.66;
                font-family: A-OTF Kakumin Pro;
            }
            
            .s-text p {
                font-family: YuGothic;
                font-size: 15px;
                line-height: 1.875;
                letter-spacing: 0.04em;
            }
            /* teachers部分 */
            
            .teach-title {
                margin: 68px auto 30px;
                display: block;
                width: 303px;
            }
            
            .t-cnts {
                display: flex;
                justify-content: center;
            }
            
            .t-cnt {
                width: 220px;
                text-align: center;
            }
            
            .t-cnt:not(:last-child) {
                margin-right: 50px;
            }
            
            .t-cnt img {
                width: 100%;
            }
            
            .person-name {
                margin-top: 16px;
                font-size: 24px;
                font-family: YuGothic;
                line-height: 1.25;
            }
            
            .person-name-en {
                font-size: 10px;
                font-family: YuGothic;
                line-height: 3;
                margin-bottom: 5px;
            }
            
            .person-status {
                font-family: YuGothic;
                font-size: 14px;
                line-height: 1.42;
            }
            /* study-program部分 */
            
            .sp-title {
                margin: 98px auto 26px;
                display: block;
                width: 303px;
            }
            
            .study-program {
                margin-bottom: 76px;
            }
            
            .study-program tr {
                font-size: 16px;
                font-family: YuGothic;
            }
            
            .table {
                margin-bottom: 0;
            }
            
            .td-num {
                padding-left: 110px;
            }
            
            .study-program tr:last-child td {
                border-bottom: #dee2e6 1px solid;
            }
            
            .mobile-tr {}
            /* 何が学べる？何ができる？部分 */
            
            .what-do {
                margin-bottom: 110px;
                width: 100%;
                height: 292px;
                background-size: cover;
                background-position: center;
                background-image: url('../assets/images/description-background.png');
            }
            
            .what-do h4 {
                text-align: center;
                font-family: A-OTF Kakumin Pro;
                font-size: 24px;
                padding-top: 28px;
            }
            
            .what-do p {
                padding-top: 23px;
                width: 68%;
                line-height: 1.3;
                margin: 0 auto;
                font-family: YuGothic;
                font-size: 16px;
            }
            /* Open Seminar部分 */
            
            .seminar {
                background-image: url('../assets/images/open-seminar-background.png');
                background-position: center;
                background-size: cover;
                text-align: center;
                height: 760px;
            }
            
            .seminar .container {
                max-width: 1100px;
                width: 76%;
                padding: 0;
            }
            
            .semi-title {
                padding-top: 48px;
                font-family: Alex;
                font-size: 42px;
            }
            
            .semi-title-jp {
                font-size: 12px;
                line-height: 1;
                font-family: Hiragino Sans;
                margin-top: 13px;
                margin-bottom: 78px;
            }
            
            .semi-cnts {
                display: flex;
                justify-content: space-between;
            }
            
            .semi-cnt {
                width: 50%;
                background: #ffffff;
                box-shadow: 3px 9px 30px rgba(0, 0, 0, 0.16);
                padding: 0 47.5px;
            }
            
            .semi-cnt h3 {
                margin-top: 34px;
                margin-bottom: 13px;
                font-size: 36px;
                font-family: A-OTF Reimin Y10 Pro;
                line-height: 1.33;
            }
            
            .semi-time {
                background: #F5F5F5;
                width: 100%;
                /* padding: 0 39px 0 28px; */
                font-size: 30px;
                font-family: Barlow;
                line-height: 1.333;
            }
            
            .semi-cnt img {
                width: 59%;
                margin-top: 5px;
                margin-bottom: 18px;
            }
            
            .semi-cnt-text {
                text-align: left;
                font-size: 16px;
                line-height: 1.34;
                font-family: YuGothic;
            }
            
            .yellow-btn {
                font-size: 19px;
                font-weight: bold;
                font-family: YuGothic;
                padding: 18px 55px;
                margin-top: 31px;
                margin-bottom: 45px;
                background: #FFF500;
                display: block;
                border-radius: 10px;
                box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.16);
            }
            
            .semi-people {
                width: 43%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            
            .semi-person {
                width: 140px;
            }
            
            .semi-person img {
                width: 100%;
                border-radius: 50%;
                box-shadow: 3px 9px 20px rgba(0, 0, 0, 0.2);
                border: #fff 5px solid;
            }
            
            .semi-person-name {
                margin-top: 15px;
                margin-bottom: 3px;
                font-size: 24px;
                font-family: YuGothic;
                line-height: 1.25;
            }
            
            .semi-perosn-status {
                font-family: YuGothic;
                font-size: 14px;
                line-height: 1.4;
            }
            /* ONLINE GUIDANCE 部分  */
            
            .guidance .container {
                text-align: center;
                background-image: url('../assets/images/online-guidance-background.png');
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center bottom;
            }
            
            .g-title {
                font-size: 42px;
                font-family: Alex;
                line-height: 1.33;
                padding-top: 36px;
                padding-bottom: 5px;
            }
            
            .g-title-jp {
                font-size: 12px;
                font-family: Hiragino Sans;
                line-height: 1.33;
            }
            
            .g-day {
                margin-top: 20px;
                font-family: Hiragino Sans;
                font-size: 18px;
                line-height: 1.33;
            }
            
            .g-day span {
                font-size: 35px;
                line-height: 1.33;
                font-weight: bold;
                font-family: Barlow;
            }
            
            .g-time {
                font-family: Hiragino Sans;
                font-size: 12px;
                line-height: 2;
            }
            
            .guidance .yellow-btn {
                display: inline-block;
                margin-bottom: 23px;
                margin-top: 0;
            }
            /* APPLICATION 部分 */
            
            .application .container {
                text-align: center;
            }
            
            .app-title {
                font-size: 42px;
                font-family: Alex;
                line-height: 1.33;
                padding-top: 86px;
                padding-bottom: 5px;
            }
            
            .app-title-jp {
                font-size: 12px;
                font-family: Hiragino Sans;
                line-height: 1.33;
            }
            
            .app-text {
                font-size: 16px;
                line-height: 1.33;
                font-family: YuGothic;
                margin-top: 30px;
                margin-bottom: 42px;
            }
            
            .app-btn {
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                font-family: YuGothic;
                line-height: 1.3;
                color: #ffffff;
                background: #FE3C3C;
                padding: 10px 120px;
                border-radius: 30px;
                margin-bottom: 60px;
            }
            
            .app-btn:hover {
                color: #ffffff;
            }
            /* footer部分 */
            
            footer {
                color: #ffffff;
                background: #222222;
                text-align: center;
                letter-spacing: 0.04em;
            }
            
            .footer-title {
                font-size: 42px;
                font-family: Alex;
                line-height: 1.33;
                padding-top: 47px;
                padding-bottom: 5px;
            }
            
            .footer-title-jp {
                font-size: 12px;
                font-family: Hiragino Sans;
                line-height: 1.33;
            }
            
            .footer-text-1 {
                font-size: 16px;
                font-weight: bold;
                line-height: 1.33;
                font-family: YuGothic;
                margin-top: 39px;
                margin-bottom: 32px;
            }
            
            .footer-text-2 {
                font-size: 16px;
                font-weight: bold;
                line-height: 1.33;
                font-family: YuGothic;
                padding-top: 20px;
                padding-bottom: 45px;
            }
            
            footer .app-btn {
                background: #6F6F6F;
                margin-bottom: 0;
            }
            
            .mobile {
                display: none;
            }
            /*********************
             * pc用(1024~1440px)
             *********************/
            
            @media screen and (max-width: 1440px) {
                /* ページ全体の設定 */
                .container {
                    width: 90%;
                }
                /* Pre-Program 部分 */
                .p-bg img {
                    width: 110px;
                    top: -58px;
                    left: -33px;
                }
                .p-status>div {
                    font-size: 24px;
                    width: 100%;
                    text-align: center;
                    padding: 0;
                }
                .fz-60 {
                    font-size: 50px;
                }
                .fz-24 {
                    font-size: 18px;
                }
                /* open seminar部分 */
                .seminar .container {
                    width: 93%;
                }
                .semi-cnt {
                    padding: 0 25px;
                }
                .semi-cnt h3 {
                    margin-top: 30px;
                    margin-bottom: 10px;
                    font-size: 32px;
                }
                .semi-time {
                    font-size: 24px;
                }
                .yellow-btn {
                    font-size: 16px;
                    margin-top: 25px;
                    margin-bottom: 35px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                .semi-person {
                    width: 120px;
                }
                .semi-person-name {
                    font-size: 22px;
                }
                .semi-perosn-status {
                    font-size: 14px;
                }
                /* ONLINE GUIDANCE 部分 */
                .g-day {
                    font-size: 20px;
                }
                .g-day span {
                    font-size: 32px;
                }
                .guidance .yellow-btn {
                    margin-bottom: 20px;
                }
            }
            /*********************
             * タブレット用(768~1024px)
             *********************/
            
            @media screen and (max-width: 1024px) {
                .container {
                    width: 90%;
                }
                /* トップ部分 */
                .top {
                    height: 480px;
                }
                .t-logo img {
                    height: 50px;
                }
                .t-title {
                    width: 590px;
                }
                .t-title h2 {
                    font-size: 32px;
                }
                .t-title img {
                    width: 130px;
                    top: -28px;
                    right: -52px;
                }
                /* About部分 */
                .about h2 {
                    font-size: 36px;
                }
                .a-title-jp {
                    margin-bottom: 40px;
                }
                .a-title h3 {
                    font-size: 24px;
                }
                .a-title h3:last-child {
                    margin-bottom: 20px;
                }
                .a-cnt {
                    margin-bottom: 45px;
                }
                .a-cnt img {
                    margin-right: 20px;
                }
                .a-text {
                    padding-top: 15px;
                }
                .a-text p {
                    font-size: 14px;
                }
                /* Pre-Program部分 */
                .p-title h2 {
                    font-size: 36px;
                }
                .p-sub-title {
                    margin-bottom: 30px;
                }
                .p-sub-title h3 {
                    font-size: 26px;
                }
                .p-logo img {
                    display: block;
                    height: auto;
                }
                .p-bg {
                    height: 250px;
                }
                .p-bg img {
                    width: 100px;
                    top: -54px;
                    left: -38px;
                }
                .p-status {
                    height: 70px;
                }
                .p-status>div {
                    font-size: 16px;
                }
                .fz-60 {
                    font-size: 40px;
                }
                .fz-47 {
                    font-size: 32px;
                }
                .fz-24 {
                    font-size: 14px;
                }
                /* Study Theme */
                .s-text h4 {
                    font-size: 20px;
                }
                .s-text p {
                    font-size: 13px;
                }
                /* Theachers */
                .teach-title {
                    margin: 40px auto 25px;
                }
                .t-cnt {
                    width: 180px;
                }
                .t-cnt:not(:last-child) {
                    margin-right: 35px;
                }
                .person-name {
                    font-size: 22px;
                }
                .person-name-en {
                    line-height: 2.5;
                }
                .person-status {
                    font-size: 12px;
                }
                /* .study-program */
                .sp-title {
                    margin-top: 65px;
                }
                .study-program tr {
                    font-size: 14px;
                }
                /* what do */
                .what-do {
                    height: 275px;
                    margin-bottom: 90px;
                }
                .what-do h4 {
                    font-size: 20px;
                }
                .what-do p {
                    font-size: 14px;
                }
                /* OPEN SEMINAR 部分 */
                .seminar {
                    height: 660px;
                }
                .semi-title {
                    font-size: 36px;
                    padding-top: 40px;
                }
                .semi-title-jp {
                    margin-top: 8px;
                    margin-bottom: 40px;
                }
                .semi-cnt h3 {
                    font-size: 28px;
                    margin-top: 25px;
                    margin-bottom: 7px;
                }
                .semi-cnt-text {
                    font-size: 14px;
                }
                .yellow-btn {
                    font-size: 14px;
                    margin-top: 25px;
                    margin-bottom: 30px;
                }
                .semi-people {
                    width: 47%;
                }
                .semi-person {
                    width: 100px;
                }
                .semi-person-name {
                    font-size: 18px;
                }
                .semi-person-status {
                    font-size: 12px;
                }
                /* ONLINE GUIDANCE 部分 */
                .guidance .container {
                    background-size: 100% 150px;
                }
                .g-title {
                    font-size: 36px;
                }
                .g-day {
                    font-size: 16px;
                }
                .g-day span {
                    font-size: 28px;
                }
                .g-time {
                    font-size: 10px;
                }
                .guidance .yellow-btn {
                    padding: 10px 50px;
                    margin-bottom: 10px;
                }
                /* APPLICATION 部分 */
                .app-title {
                    font-size: 36px;
                    padding-top: 70px;
                }
                .app-text {
                    font-size: 14px;
                    margin-top: 25px;
                    margin-bottom: 35px;
                }
                .app-btn {
                    font-size: 20px;
                    padding: 10px 110px;
                }
                /* footer部分 */
                .footer-title {
                    font-size: 36px;
                    margin-top: 47px;
                }
                .footer-text-1 {
                    font-size: 14px;
                    margin-top: 34px;
                    margin-bottom: 28px;
                }
                .footer-text-2 {
                    font-size: 14px;
                    padding-bottom: 35px;
                }
            }
            /*********************
             * モバイル用(~768px)
             *********************/
            
            @media screen and (max-width: 768px) {
                /* ページ全体の設定 */
                .container {
                    width: 92%;
                    max-width: 570px;
                }
                .mobile {
                    display: block;
                }
                .pc {
                    display: none;
                }
                /* ヘッダー 部分 */
                header {
                    background: #ffffff;
                    height: 60px;
                }
                header img {
                    width: 165px;
                    height: 35px;
                }
                .hum-btn {
                    width: 30px;
                    height: 12px;
                }
                .hum-btn>div {
                    height: 2px;
                }
                .hum-btn>div:last-child {
                    margin-top: 8px;
                }
                /* トップ部分 */
                .top {
                    height: 600px;
                    background-image: url('../assets/images/top-bg-sp.png');
                }
                .t-logo {
                    padding-top: 160px;
                    padding-bottom: 16px;
                }
                .t-logo img {
                    height: 44px;
                }
                .t-title {
                    width: 79%;
                    transform: none;
                    margin-top: 0;
                }
                .t-title img {
                    width: 100px;
                    top: 309px;
                    right: -15px;
                }
                .t-title h2 {
                    margin: 0;
                }
                h2.t-title-2 {
                    margin: 6px 16px 0;
                }
                .t-title-1:last-child {
                    margin-top: 6px;
                }
                .t-title-2 {
                    margin-right: 16px;
                }
                /* about部分 */
                .about h2 {
                    font-size: 30px;
                    margin-top: 43px;
                }
                .a-title-jp {
                    margin-top: 8px;
                }
                .a-title h3 {
                    font-size: 20px;
                }
                .a-cnt {
                    display: block;
                }
                .a-cnt img {
                    width: 85%;
                    margin-right: 0;
                }
                .a-text {
                    width: 100%;
                }
                .a-text p {
                    font-size: 16px;
                }
                /* Pre Program 部分 */
                .p-title h2 {
                    font-size: 30px;
                    margin-top: 37px;
                }
                .p-title-jp {
                    margin-top: 8px;
                }
                .p-logo.mobile {
                    /* display: flex; */
                }
                .p-logo img {
                    width: 50%;
                    /* display: flex; */
                }
                .p-bg {
                    height: 210px;
                }
                .p-bg img {
                    display: none;
                }
                .p-sub-title {
                    transform: translateY(-20px);
                    margin-bottom: 0;
                }
                .p-sub-title h3 {
                    font-size: 16px;
                    line-height: 1.75;
                }
                .p-sub-title h3:first-child {
                    margin-bottom: 0;
                }
                .p-status.mobile {
                    width: 100%;
                    height: auto;
                }
                .p-status.mobile>div {
                    font-size: 24px;
                }
                .p-status.mobile>div:first-child {
                    border-bottom: 3px solid #fff;
                    border-right: 0;
                    margin: 0 auto;
                    width: 90%;
                }
                .p-status.mobile>div:last-child {
                    font-size: 18px;
                    margin: 0;
                    padding: 9px 0 15px;
                }
                .fz-60 {
                    font-size: 55px;
                }
                .fz-24 {
                    font-size: 20px;
                }
                /* study-theme */
                .st-title {
                    margin: 20px auto;
                    width: 288px;
                }
                .s-cnt {
                    display: block;
                }
                .s-cnt>div {
                    width: 100%;
                }
                .s-img p {
                    font-size: 12px;
                    padding: 0 15px;
                    line-height: 20px;
                    height: 20px;
                }
                .s-text h4 {
                    font-size: 16px;
                    text-align: center;
                    margin: 20px 0;
                }
                .s-text p {
                    font-size: 16px;
                }
                /* teachers */
                .teach-title {
                    margin: 50px auto 35px;
                    width: 288px;
                }
                .t-cnt {
                    width: 63%;
                }
                .sliderArea {
                    max-width: 100%;
                }
                .slick-slide {
                    margin: 0 5px;
                }
                .slick-slide {
                    width: 220px;
                    transition: all ease-in-out .3s;
                    opacity: .2;
                }
                .slick-active {
                    opacity: 1;
                }
                .slick-current {
                    opacity: 1;
                }
                .person-name {
                    font-size: 24px;
                }
                .person-name-en {
                    line-height: 3;
                }
                .person-status {
                    font-size: 14px;
                }
                /* .study-program */
                .study-program {
                    margin-bottom: 50px;
                }
                .sp-title {
                    margin-top: 42px;
                    margin-bottom: 23px;
                    width: 288px;
                }
                .study-program td {
                    font-size: 13px;
                    text-align: center;
                }
                tr.mobile {
                    display: table-row;
                    border-top: dashed 1px #dee2e6;
                }
                tr.mobile td {
                    display: table-cell;
                    border-top: none;
                }
                /* 何が学べる？何ができる？ */
                .what-do {
                    height: 400px;
                    background-image: url('../assets/images/description-background-sp.png');
                    background-size: 100% 100%;
                    background-position: center;
                    margin-bottom: 30px;
                }
                .what-do h4 {
                    font-size: 24px;
                    padding-top: 31px;
                }
                .what-do p {
                    width: 92%;
                    font-size: 16px;
                    padding-top: 38px;
                }
                /* Open Seminar部分 */
                .seminar {
                    background-image: url('../assets/images/open-seminar-background-sp.png');
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    background-position: top;
                    height: auto;
                }
                .semi-title {
                    font-size: 30px;
                    margin-top: 31px;
                }
                .semi-title-jp {
                    margin-bottom: 180px;
                }
                .semi-cnt {
                    width: 100%;
                }
                .semi-cnt>img {
                    margin: 18px auto 11px;
                }
                .semi-cnt h3 {
                    font-size: 24px;
                    margin-top: 29px;
                    margin-bottom: 20px;
                }
                .semi-time {
                    font-size: 20px;
                }
                .semi-time .fz-60 {
                    font-size: 40px;
                }
                .semi-cnt img {
                    width: 80%;
                    margin-top: 11px;
                }
                .yellow-btn {
                    padding: 18px 40px;
                }
                .semi-people {
                    width: 100%;
                }
                .semi-person {
                    width: 50%;
                }
                .semi-person img {
                    width: 90%;
                }
                .semi-person-name {
                    font-size: 24px;
                }
                .semi-person-status {
                    font-size: 16px;
                }
                /* online guidance部分 */
                .guidance {
                    background-size: 100% 325px;
                    background-position: bottom;
                    background-image: url('../assets/images/online-guidance-background-sp.png');
                    background-repeat: no-repeat;
                }
                .guidance .container {
                    background-image: none;
                }
                .g-day {
                    margin-top: 35px;
                    font-size: 18px;
                }
                .g-day span {
                    font-size: 35px;
                }
                .g-time {
                    font-size: 12px;
                }
                .g-title {
                    font-size: 30px;
                }
                .guidance .yellow-btn {
                    margin-top: 160px;
                    margin-bottom: 20px;
                    font-size: 16px;
                    padding: 20px 50px;
                }
                /* application部分 */
                .app-title {
                    padding-top: 23px;
                    font-size: 30px;
                }
                .app-text {
                    width: 85%;
                    margin: 25px auto 35px;
                    text-align: left;
                }
                .app-btn {
                    padding: 13px 110px;
                    width: 100%;
                    font-size: 24px;
                    margin-bottom: 33px;
                }
                /* footer部分 */
                .footer-title {
                    margin-top: 0;
                }
            }